body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: auto;
    max-width: 600px;
}

label {
    display: inline-flex;
    margin-top: 15px;

}
h1 {
    text-align: center;
}

input,button, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3%;      
}

textarea {
    height: 120px;
}

button {
    color: white;
    background-color: black;
}


